@model WebAppMVC.Models.OverviewModel

@{
    ViewData["Title"] = "Overview";
    var unitGroupCount = Model.UnitGroupCount;
    var unitCount = Model.UnitCount;
}

<h3>Overview</h3>
@if (unitGroupCount == 0)
{
    <p>You don't have any unit groups.</p>
}
@if (unitGroupCount == 1)
{
    <p>You have 1 unit group.</p>
}
else if (unitGroupCount > 1)
{
    <p>You have @unitGroupCount unit groups.</p>
}

@if (unitCount == 0)
{
    <p>You don't have any units.</p>
}
else if (unitCount == 1)
{
    <p>You have 1 unit.</p>
}
else
{
    <p>You have @unitCount units.</p>
}