@model MVC.Models.ListGroupsModel

@{
    ViewData["Title"] = "Show Groups";
    var groups = Model.Groups;
}
<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Note</th>
    </tr>
    <tr>
        <td>
            TODO Vytvořit nový
        </td>
    </tr>
    @foreach (var group in groups)
    {
        <tr>
            <td>@group.Name</td>
            <td>@group.Color</td>
            <td>@group.Note</td>
            <td>TODO EDIT</td>
        </tr>
    }
 </table>
