@model MVC.Models.NewUnitModel

@{
    ViewData["Title"] = "Create Unit";
}

<h3>Create Unit</h3>

<form action="/Delta/CreateUnit" method="post">
    <label for="name">Name</label>
    <br />
    <input type="text" name="name" value="Vlakové nádraží" />
    <br />

    <label for="unitType">Type</label>
    <br />
    <select name="unitType">
        @foreach (var unitType in Model.UnitTypes)
        {
            <option name="@unitType.Type">@unitType.Type</option>
        }
    </select><br />

    <label for="note">Note</label><br />
    <textarea name="note">Naše krásné špinavé nádraží</textarea><br />

    <label for="currentCapacity">Current Capacity</label><br />
    <input type="text" name="currentCapacity" value="1" /><br />

    <label for="maxCapacity">max Capacity</label><br />
    <input type="text" name="MaxCapacity" value="1" /><br />

    <label for="color">Color</label><br />
    <select name="color">
        @foreach (var color in Model.Colors)
        {
            <option name="@color.Name">@color.Name</option>
        }
    </select><br />

    <label for="unitGroup">Unit Group</label><br />
    <label>TODO!!!</label><br />

    <label for="address">Address</label><br />
    <label>TODO!!!</label><br />

    <input type="submit" value="Create">
</form>