@{
    ViewData["Title"] = "About";
}

<h2>O Projektu</h2>
<p>
    Na webovém portálu si uživatel může založit a spravovat účet. Kromě nástrojů
    pro správu základních údajů jako jméno, heslo a profilový obrázek, editor
    nabízí i možnost vytvářet záznamy o vlastněných bytech a sdružovat je do
    logických celků. Cílem je poskytnout vlastníkovi bytů přehledný panel se
    zadanými údaji a grafy zobrazujícími vývoj změn v průběhu času.
</p>

<h4>Uživatelé</h4>
<ul>
    <li>
        Uživatelské role
        <ul>
            <li>administrátor</li>
            <li>pronajímatel</li>
        </ul>
    </li>
    <li> Autentizace </li>
    <li> login/logout </li>
    <li> změna údajů (heslo, email) </li>
    <li> Přidávat bytové/nebytové jednotky </li>
    <li> Upravovat/Odebírat byty/nebyty </li>
    <li> Vytvářet skupiny (logické celky) bytových a nebytových jednotek </li>
    <li>
        Vidět celkové:
        <ul>
            <li>zisky/ztráty</li>
            <li>ceny oprav</li>
            <li>ceny nového vybavení</li>
            <li>počet volných/obsazených bytů</li>
        </ul>
    </li>
    <li> Vyhledávat námjce podle jména, č. bytu, rod. č., ...    </li>
    <li>
        Administrátorské funkce
        <ul>
            <li>vytvářet nové kategorie bytových a nebytových jednotek</li>
            <li>přidávat vlastnosti, které lze o jednotkách ukládat</li>
            <li>procházet přehledy bytů</li>
        </ul>
    </li>
</ul>
<h4>Bytové jednotky</h4>
<ul>
    <li>pojmenovat/změnit název bytu</li>
    <li>barevně odlišené obsazené/volné byty</li>
    <li>možnost nahrát/stáhnout fotky bytu</li>
    <li>možnost nahrát/stáhnout smlovu (.pdf)</li>
    <li>info o nájemnících</li>
    <li>jméno, rod. č.</li>
    <li>smlouva od do</li>
    <li>výše nájmu</li>
    <li>poplatky (voda, el, plyn, net, ...) --> graf?</li>
    <li>záloha + doplatek</li>
    <li>vybavení bytu (lednice, sporák, ...)</li>
    <li>opravy (a jejich cena)</li>
    <li>celkové zisky</li>
    <li>měsíční (roční, ...) vývoj poplatků/zisků</li>
</ul>
<h4>Nebytové jednotky</h4>
<ul>
    <li>pojmenovat/změnit název prostoru</li>
    <li>barevně odlišené obsazené/volné prostory</li>
    <li>možnost nahrát/stáhnout fotky prostor</li>
    <li>možnost nahrát/stáhnout smlovu (.pdf)</li>
    <li>info o nájemci (firmě/osobě)</li>
    <li>výše nájmu</li>
    <li>poplatky</li>
    <li>opravy</li>
    <li>vybavení v prostorech</li>
    <li>celkové zisky</li>
    <li>měsíční (roční, ...) vývoj poplatků/zisků</li>
</ul>