@{
    ViewData["Title"] = "About";
}

<h3>O Projektu</h3>
<p>
    Na webovém portálu si uživatel může založit a spravovat účet. Kromě nástrojů
    pro správu základních údajů jako jméno, heslo a profilový obrázek, editor
    nabízí i možnost vytvářet záznamy o vlastněných bytech a sdružovat je do
    logických celků. Cílem je poskytnout vlastníkovi bytů přehledný panel se
    zadanými údaji a grafy zobrazujícími vývoj změn v průběhu času.
</p>

<h4>Uživatelé</h4>
<ul>
    <li>
        - Uživatelské role
        - administrátor
        - pronajímatel
        - (případně nájemník)
    </li>
    <li>
        - Autentizace
        - login/logout
        - změna údajů (heslo, email)
    </li>
    <li>
        - Přidávat bytové/nebytové jednotky
    </li>
    <li>
        - Upravovat/Odebírat byty/nebyty
    </li>
    <li>
        - Vytvářet skupiny (logické celky) bytových a nebytových jednotek
    </li>
    <li>
        - Vidět celkové:
        - Zisky/ztráty
        - ceny oprav
        - ceny nového vybavení
        - počet volných/obsazených bytů
    </li>
    <li>
        - Vyhledávat námjce podle jména, č. bytu, rod. č., ...
    </li>
    <li>
        - Administrátorské funkce
        - vytvářet nové kategorie bytových a nebytových jednotek
        - přidávat vlastnosti, které lze o jednotkách ukládat
        - procházet přehledy bytů
    </li>
</ul>
<h4>Bytové jednotky</h4>
<ul>
    - pojmenovat/změnit název bytu
    - barevně odlišené obsazené/volné byty
    - možnost nahrát/stáhnout fotky bytu
    - možnost nahrát/stáhnout smlovu (.pdf)
    - info o nájemnících
    - Jméno, rod. č.
    - smlouva od do
    - výše nájmu
    - poplatky (voda, el, plyn, net, ...) --> graf?
    - záloha + doplatek
    - vybavení bytu (lednice, sporák, ...)
    - opravy (a jejich cena)
    - celkové zisky
    - měsíční (roční, ...) vývoj poplatků/zisků
</ul>
<h4>Nebytové jednotky</h4>
- pojmenovat/změnit název prostoru
- barevně odlišené obsazené/volné prostory
- možnost nahrát/stáhnout fotky prostor
- možnost nahrát/stáhnout smlovu (.pdf)
- info o nájemci (firmě/osobě)
- výše nájmu
- poplatky
- opravy
- vybavení v prostorech
- celkové zisky
- měsíční (roční, ...) vývoj poplatků/zisků