@{
    ViewData["Title"] = "About";
    ViewData["UserId"] = Model.UserId;
}

<h2>O Projektu</h2>
<p>
    Na webovém portálu si uživatel může založit a spravovat účet. Kromě nástrojů
    pro správu základních údajů jako jméno, heslo a profilový obrázek, editor
    nabízí i možnost vytvářet záznamy o vlastněných bytech a sdružovat je do
    logických celků. Cílem je poskytnout vlastníkovi bytů přehledný panel se
    zadanými údaji a grafy zobrazujícími vývoj změn v průběhu času.
</p>

<h4>Uživatelé</h4>
<ul>
    <li>
        Uživatelské role
        <ul>
            <li>administrátor</li>
            <li>pronajímatel</li>
        </ul>
    </li>
    <li> Autentizace </li>
    <li> Login/logout </li>
    <li> Změna údajů </li>
    <li> Přidávat bytové/nebytové jednotky </li>
    <li> Upravovat/Odebírat byty/nebyty </li>
    <li> Vytvářet skupiny (logické celky) bytových a nebytových jednotek </li>
    <li>
        Vidět celkové:
        <ul>
            <li>zisky/ztráty</li>
            <li>ceny oprav</li>
            <li>ceny nového vybavení</li>
            <li>počet volných/obsazených bytů</li>
        </ul>
    </li>
    <li> Vyhledávat nájemce podle jména, č. bytu, rod. č., ...    </li>
    <li>
        Administrátorské funkce
        <ul>
            <li>vytvářet nové kategorie bytových a nebytových jednotek</li>
            <li>přidávat vlastnosti, které lze o jednotkách ukládat</li>
            <li>procházet přehledy bytů</li>
        </ul>
    </li>
</ul>
<h4>Bytové jednotky</h4>
<ul>
    <li>Pojmenovat/změnit název bytu</li>
    <li>Barevně odlišené obsazené/volné byty</li>
    <li>Možnost nahrát/stáhnout fotky bytu</li>
    <li>Možnost nahrát/stáhnout smlovu (.pdf)</li>
    <li>Info o nájemnících</li>
    <li>Jméno, rod. č.</li>
    <li>Smlouva od do</li>
    <li>Výše nájmu</li>
    <li>Poplatky (voda, el, plyn, net, ...) --> graf?</li>
    <li>Záloha + doplatek</li>
    <li>Vybavení bytu (lednice, sporák, ...)</li>
    <li>Opravy (a jejich cena)</li>
    <li>Celkové zisky</li>
    <li>Měsíční (roční, ...) vývoj poplatků/zisků</li>
</ul>
<h4>Nebytové jednotky</h4>
<ul>
    <li>Pojmenovat/změnit název prostoru</li>
    <li>Barevně odlišené obsazené/volné prostory</li>
    <li>Možnost nahrát/stáhnout fotky prostor</li>
    <li>Možnost nahrát/stáhnout smlovu (.pdf)</li>
    <li>Info o nájemci (firmě/osobě)</li>
    <li>Výše nájmu</li>
    <li>Poplatky</li>
    <li>Opravy</li>
    <li>Vybavení v prostorech</li>
    <li>Celkové zisky</li>
    <li>Měsíční (roční, ...) vývoj poplatků/zisků</li>
</ul>