@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-header" style="padding: 0px 0px 2px 0px;">
                <ul class="nav nav-tabs card-header-tabs" style="margin: 0px 0px -12px 0px;">
                    <li class="nav-item" style="width: 50%">
                        <a class="nav-link"
                           style="font-size: 25px;
                                      color: #495057;
                                      text-align: center;"
                           href='/Identity/Account/Login'>Sign In</a>
                    </li>

                    <li class="nav-item" style="width: 50%">
                        <a class="nav-link"
                           style="font-size: 25px;
                                      color: #495057;
                                      text-align: center;"
                           href='/Identity/Account/Register'>Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="card-content" style="padding: 10px 20px;">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}