@using Microsoft.AspNetCore.Identity
@using WebAppMVC.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ListGroups" asp-action="ListGroups">My Groups</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ListUnits" asp-action="ListUnits">My Units</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EditGroup" asp-action="EditGroup">Edit Group</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="EditUnit" asp-action="EditUnit">Edit Unit</a>
    </li>
}

