@model BLL.DTOs.GroupsOverviewDTO

@{
    ViewData["Title"] = "Show Groups";
    ViewData["UserId"] = Model.UserId;
}

<style type="text/css">
    .table th, .table td {
        text-align: center;
    }
</style>


@if (!Model.UnitGroups.Any())
{
    <p>You don't have any UnitGroups.</p>
    <hr/>

    <a class="btn btn-warning" asp-controller="Groups" asp-action="CreateGroup">
        Create New UnitGroup
    </a>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Units in Group</th>
            <th scope="col">
                <a class="btn btn-outline-success text-dark" asp-controller="Groups" asp-action="CreateGroup">
                    Create New UnitGroup
                </a>
            </th>
        </tr>
        </thead>
        <tbody>

        @foreach (var unitGroup in Model.UnitGroups)
        {
            <tr>
                <th scope="row">@unitGroup.Id</th>
                <td>@unitGroup.Name</td>
                <td>@unitGroup.Units.Count()</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Groups" asp-action="EditGroup"
                       asp-route-groupId="@unitGroup.Id">
                        Edit
                    </a>
                </td>
            </tr>
        }

        </tbody>
    </table>
}